<main class="main single" id="main">
    <div class="main-inner">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
        {{ range $paginator.Pages }}
            <article class="content post home">
                <h2 class="post-title">
                    <a href="{{ .RelPermalink }}" class="summary-title-link">{{ .LinkTitle }}</a>
                </h2>
                <div class="post-content">
                    {{ .Content }}
                </div>
            </article>
        {{ end }}
    </div>
</main>